.App {
  margin: 100px;
  margin-left: 200px;
}

.InputForm input {
  width: 400px;
  padding: 8px;
  font-size: large;
  background-color: #f3f4f6;
}

.InputForm button {
  padding: 8px;
  width: 100px;
  font-size: large;
  background-color: #3b82f6;
  color: white;
  cursor: pointer;
}

.List {
  margin-top: 50px;
  padding: 0;
}

.List li {
  list-style-type: none;
  font-size: large;
  border: 1px black solid;
  width: 500px;
  padding: 8px;
  font-size: large;
  margin-top: 8px;
}
